body{
  
  background-image: url(/static/back.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
  color: #019f;
}
h1,h2,h3,h4,h5{
  font-weight: normal;
  margin:0;
}
